:root {
   --coral: #EF767A;
   --gummy: #9917FF;
   --ceil-gray: #29292c;
   --gray: #1A1A1C;
   --white: #F2EBE3;
   --blue-berry: #4c86f9;
   --amoure: #ec1a1a;
}

body {
    background-color: var(--gray);
    margin-top: 1em;
    font-family: 'Readex Pro', sans-serif;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-365 {
    font-size: 4.5em;
    line-height: 0;
    color: var(--white);
}

#today-date {
    font-size: 0.8em;
    color: var(--white);
    opacity: 0.5;
    margin-bottom: 1em;
}

#today-date::first-letter {
    text-transform: uppercase;
}

.card {
    background-image: linear-gradient(163deg, #f41111 0%, #3700ff 100%);
    border-radius: 1.2em;
    transition: all .3s;
    min-width: 75%;
    max-width: 90%;
}

.error-title {
    text-align: center;
    font-size: calc(1.5em + 1vw);
    line-height: 0.5;
    color: var(--amoure);
}

.error-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: calc(1em + .5vw);
    margin-bottom: 1em;
    color: var(--white);
}

.error-message::first-letter, .error-title::first-letter {
    text-transform: uppercase;
}

.video-info {
    display: flex;
    border-radius: 1em;
    padding: .5em 2em 2em;
    align-items: center;
    justify-content: center;
    background-color: var(--ceil-gray);
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    transition: all .2s;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(204, 46, 244, 0.3);
}

.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 6px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
   
.loading span {
    width: 4px;
    height: 50px;
    background: var(--blue-berry);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
}
   
.loading span:nth-child(2) {
    background: var(--amoure);
    animation-delay: -0.8s;
}
   
.loading span:nth-child(3) {
    background: var(--gummy);
    animation-delay: -0.7s;
}
   
.loading span:nth-child(4) {
    background: var(--amoure);
    animation-delay: -0.6s;
}
   
.loading span:nth-child(5) {
    background: var(--blue-berry);
    animation-delay: -0.5s;
}
   
@keyframes scale {
    0%, 40%, 100% {
     transform: scaleY(0.05);
    }
   
    20% {
     transform: scaleY(1);
    }
}

.video-info:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.video-title {
    width: 100%;
    display: block;
    font-size: 1.45em;
    line-height: 1;
    opacity: 0.85;
    color: var(--white);
}

#video {
    border-radius: 0.5em;
}

.today {
    margin-left: auto;
    font-size: 1.2em;
    color: var(--white);
    align-items: center;
    margin-left: 1.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2.5em;
    width: 95%;
}

hr {
    width: 80%;
    border-radius: 1em;
    opacity: 0.2;
}

.music {
    margin-top: 0.1em;
    height: 2.5em;
    width: 2.5em;
}

.listen-now {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    position: relative;
}

.quote {
    text-align: center;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    opacity: 0.7;
    max-width: 40vw;
}

.btn {
    border: none;
    width: 18vw;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.play {
    font-size: 1em;
    transition: all 800ms ease;
}

.text {
    font-family: 'Readex Pro', sans-serif;
    color: var(--coral);
    font-size: medium;
}

.text2 {
    font-family: 'Readex Pro', sans-serif;
    color: var(--white);
    font-size: medium;
    display: none;
}

.btn:hover {
    background: linear-gradient(90deg,#5905b2,#ef1515);
    transform: translateY(-2px);
}

.btn:hover .text {
    color: var(--white);
}

.btn:hover .play {
    fill: var(--white);
    transform: scale(1.2);
} 

@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#title-365::after {
    content: '|';
    animation: blink 0.8s infinite;
    font-weight: 300;
}

.footer-container {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: smaller;
}

.github-icon {
    width: 2em;
    height: 2em;
}

.footer-container a {
    text-decoration: none;
    opacity: 0.5;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.footer-container a:hover {
    opacity: 1;
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    body {
        margin-top: 2.5vw;
    }

    .title-365 {
        font-size: 4em;
    }

    .card {
        width: 90%;
        height: 90%;
        margin-bottom: 2em;
    }

    .video-info {
        justify-content: space-around;
    }

    .video-title {
        font-size: calc(1em + 0.5vw);
    }

    #video {
        width: calc(500px - 4.5vw);
        height: calc(300px - 4.5vw);
    }

    .today {
        font-size: 1.1em;
    }

    .quote {
        font-size: calc(1em + 0.2vw);
    }

    .btn {
        width: 22vw;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
    body {
        margin-top: 2vw;
    }

    .title-365 {
        font-size: 3em;
    }

    .card {
        width: 85%;
        height: 85%;
        margin-bottom: 2em;
    }

    hr {
        width: 100%;
    }

    .video-info {
        flex-direction: column;
    }

    .video-container {
        width: 95%;
        height: 95%;
    }

    .video-title {
        font-size: 1em;
    }

    #video {
        width: 100%;
        height: calc(24vw + 100px);
    }

    .today {
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 0.92em;
        gap: 1em;
    }

    .quote {
        margin-top: 0;
        max-width: 80vw;
        font-size: 1.5em;
    }

    .btn {
        width: 30vw;
        margin-bottom: 1em;
    }

    .footer-container {
        margin-top: 0;
    }
}

@media only screen and (max-width: 700px) {
    body {
        margin-top: 4vw;
    }

    .title-365 {
        font-size: 3em;
    }

    .card {
        margin-top: 0.2em;
        width: 90%;
        height: 90%;
    }

    hr {
        width: 100%;
    }

    .video-info {
        padding-top: 1em;
        flex-direction: column;
    }

    .video-container {
        width: 100%;
        height: 90%;
    }

    .video-title {
        font-size: 1.11em;
    }

    #video {
        width: 100%;
        height: calc(25vw + 100px);
    }

    .today {
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 1em;
        font-size: 1em;
        gap: 0.8em;
    }

    .quote {
        margin-top: 0;
        max-width: 80vw;
    }

    .btn {
        border-radius: 50%;
        width: 5em;
        height: 5em;
    }

    .text {
        display: none;
    }
    
    .text2 {
        display: block;
        margin-bottom: 1em;
    }

    .footer-container {
        margin-top: 1em;
    }
}

@media only screen and (max-width: 600px) {
    #video {
        width: 100%;
        height: calc(20vw + 100px);
    }
}

@media only screen and (max-width: 500px) {
    #video {
        width: 100%;
        height: calc(20vw + 90px);
    }
}

@media only screen and (max-width: 450px) {
    #video {
        width: 100%;
        height: calc(18vw + 80px);
    }
}

.blue-berry:hover {
    color: var(--blue-berry);
}

.gummy:hover {
    color: var(--gummy);
}

.amoure:hover {
    color: var(--amoure);
}
